.el1{
    color: blue;
}

span{
    background-color: black;
    color: aliceblue;
}

.el2{
    background-color: aqua;
    color: yellow;
}

.el3{
    background-color: yellow;
    color: black;
}

.el4{
    background-color: yellow;
    color: black;
}

.el5{
    background-color: red;
    color: aliceblue;
}

.el6{
    background-color: black;
    color: aliceblue;
}

.el7{
    background-color: brown;
    color: aliceblue;
}

.el8{
    background-color: forestgreen;
}

.el9{
    background-color: black;
    color: aqua;
}

.el10{
    background-color: blueviolet;
}

.el11{
    background-color: darkorange;
}